@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    min-width: 360px;
    background-color: rgb(223,231,234);
}

