/* ================= FORMULARIO ================= */

div {
    margin-bottom: 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    height: 150px;
}

button {
    background-color: rgb(4,30,80);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(123,138,156);
}