<div class="container">

    <section class="form-section">
        <app-form></app-form>
    </section>

    <section class="list-section">
        <!-- LISTA NOTICIAS -->
        <div class="news">
            @for(news of myNews(); track news){
            <article class="card">
                <h2>{{news.title}}</h2>
                <figure>
                    <img [src]="news.image" [alt]="news.title">
                </figure>
                <p [innerHTML]="news.text"></p>
                <div>
                    <p>Fecha: {{news.date | date:"dd/MM/yyyy"}}</p>
                </div>
            </article>
            }
        </div>
    </section>

</div>